.cart {
  position: sticky;
  top: var(--size-10);
  height: fit-content;
  padding: var(--size-7) var(--size-6);
  flex: 1;
  border-radius: var(--size-2);
}

.cart__heading {
  margin-bottom: var(--size-2);
  font-family: var(--font-primary-bold);
  font-size: var(--size-6);
  color: var(--text-clr-primary);
}

.cart__wrapper {
  display: flex;
  flex-direction: column;
}
/* details */

/* Cart remove Button */

/* Cart Summary */

.cart-summary__total {
  display: flex;
  margin-bottom: var(--size-10);
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  color: var(--text-clr-rose-900);
}

.cart-summary__price {
  font-family: var(--font-primary-bold);
  font-size: var(--size-6);
  color: var(--text-clr-rose-900);
}

.cart-summary__details {
  display: flex;
  margin-bottom: var(--size-10);
  justify-content: center;
  align-items: center;
}

.cart-summary__icon {
  width: 21px;
  margin-right: var(--size-2);
  aspect-ratio: 1;
}

.cart-summary__message {
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  color: var(--text-clr-rose-900);
}

.cart-summary__carbon-neutral {
  font-family: var(--font-primary-semibold);
}

/* || Breakpoints || */

/* @media (max-width: 1536px) {
} */

/* @media (max-width: 1280px) {
} */

/* @media (max-width: 1024px) {
} */

/* @media (max-width: 768px) {
} */

/* @media (max-width: 640px) {
} */
