/* grid menu */

.menu__wrap {
  max-width: 50rem;
  flex: 3;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14.5rem, 1fr));
  gap: 2.375rem var(--size-6);
}

.menu-item__img {
  border-radius: var(--size-2);
}

/* Add to cart button */

.menu-btn__add-to-cart {
  position: relative;
  display: flex;
  margin: -1.5rem auto;
  gap: var(--size-2);
  align-items: center;
  padding: var(--size-3) 1.75rem;
  font-family: var(--font-primary-semibold);
  font-size: 0.875rem;
  color: var(--btn-clr-rose-900);
  border: 1px solid var(--btn-clr-rose-500);
  border-radius: 100vw;
  background-color: var(--btn-clr-rose-50);
  z-index: 1;
}

.menu-btn__add-to-cart:not(.active):hover {
  color: var(--btn-clr-primary);
}

.menu-btn__add-to-cart:not(.active):active {
  background-color: var(--btn-clr-rose-300);
}

.menu-btn__icon {
  width: var(--size-5);
  aspect-ratio: 1;
}

/* Active state add to cart button */

.item-quantity__controls--active {
  position: relative;
  display: flex;
  width: 10.125rem;
  height: 2.875rem;
  margin: -1.5rem auto;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary-semibold);
  font-size: 0.875rem;
  background-color: var(--btn-clr-primary);
  border-radius: 100vw;
  color: var(--btn-clr-rose-50);
  z-index: 1;
}

.item-quantity__decrement {
  padding: var(--size-3);
  border-radius: 50px 0 0 50px;
}

.item-quantity__increment {
  padding: var(--size-3);
  border-radius: 0 50px 50px 0;
}

.item-quantity__decrement:hover,
.item-quantity__increment:hover {
  background-color: var(--btn-clr-rose-400);
}

.item-quantity__decrement:active,
.item-quantity__increment:active {
  background-color: var(--btn-clr-rose-500);
}

.item-quantity__icon {
  aspect-ratio: 1;
  box-sizing: content-box;
  width: var(--size-3);
  padding: 2px;
  outline: 1px solid var(--btn-clr-rose-50);
  border-radius: 50px;
}

/* Menu details - product name, price */

.menu-item__details {
  margin-top: var(--size-10);
}

.menu-item__category {
  margin-bottom: var(--size-2);
  font-family: var(--font-primary);
  line-height: 1;
  color: var(--text-clr-rose-500);
}

.menu-item__name {
  margin-bottom: var(--size-2);
  font-family: var(--font-primary-semibold);
  line-height: 1;
  color: var(--btn-clr-rose-900);
}

.menu-item__price {
  font-family: var(--font-primary-semibold);
  color: var(--text-clr-primary);
}

/* Breakpoints */

/* @media (max-width: 1536px) {
} */

@media (max-width: 1280px) {
  .menu {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}

@media (max-width: 1024px) {
  .menu__wrap {
    margin-bottom: var(--size-8);
  }
}

/* @media (max-width: 768px) {
} */

@media (max-width: 640px) {
  .menu {
    grid-template-columns: 1fr;
    gap: var(--size-7);
  }
}
