.main {
  display: flex;
  padding-block: var(--size-24);
  gap: var(--size-8);
}

/* || BREAK POINTS || */

/* @media (max-width: 1536px) {
} */

/* @media (max-width: 1280px) {
} */

@media (max-width: 1024px) {
  .main {
    display: block;
    padding-block: var(--size-14);
  }
}

@media (max-width: 768px) {
  .main {
    padding-block: var(--size-6);
  }
}

@media (max-width: 640px) {
}
