.main {
  display: flex;
  padding-block: var(--size-24);
  gap: var(--size-8);
}

/* products that are added to cart */
.product-added {
  border-radius: var(--size-2);
  outline: 2px solid var(--clr-primary);
}

/* Breakpoints */

/* @media (max-width: 1536px) {
} */

/* @media (max-width: 1280px) {
} */

@media (max-width: 1024px) {
  .main {
    display: block;
    padding-block: var(--size-14);
  }
}

@media (max-width: 768px) {
  .main {
    padding-block: var(--size-6);
  }
}

@media (max-width: 640px) {
}
