.carbon-neutral-msg {
  display: flex;
  margin-bottom: var(--size-10);
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
  font-size: var(--text-sm);
  color: var(--text-clr-rose-900);
  white-space: pre-wrap;
}

.carbon-neutral-icon {
  width: 21px;
  margin-right: var(--size-2);
  aspect-ratio: 1;
}

.carbon-neutral {
  font-family: var(--font-primary-semibold);
}
